@import '../../style/variable.scss';
@import '../../style/keyframes.scss';

$prefix: $ui-prefix + -message;

.#{$prefix} {
  // message
  position: fixed;
  top: 12px;
  left: 0;
  width: 100%;
  z-index: 2147483647;
  font-variant: tabular-nums;
  pointer-events: none;

  &-success &-icon {
    color: $success-color;
  }
  &-error &-icon {
    color: $error-color;
  }
  &-info &-icon {
    color: $primary-color;
  }
  &-warning &-icon {
    color: $warn-color;
  }

  .rou-notice-content {
    padding: 8px 16px;
  }
  &-icon {
    position: relative;
    font-size: 16px;
    vertical-align: -0.125em;
    margin-right: 4px;
  }

  &-close {
    display: inline-block;
    vertical-align: -0.125em;
    line-height: 0;
    margin-left: 12px;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
}

// 动画
$duration: 0.25s;

.rou-message-enter-active {
  animation: msgSlideUpIn $duration ease-in-out;
}

.rou-message-exit-active {
  animation: msgSlideUpOut $duration ease-in-out;
}

@keyframes msgSlideUpIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes msgSlideUpOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
