//
$ui-prefix: rou;

// color
$primary-color: #3860f4;
$info-color: #3860f4;
$error-color: #f35;
$success-color: #12b886;
$warn-color: #faac14;

// font color
// $font-main-color: #121212;
// $font-500-color: lighten($font-main-color, 10%);

// 次级颜色
// $sub-color: #8590a6;
// $sub-font-color: #b2bac2;
// $sub-border-color: #dfe2e7;
// $border-color: $sub-border-color;
// $light-border-color: #f6f6f6;

//

// radius
$base-radius: 3px;

// card-padding
$card-padding: 16px;
