@import '../../style/variable.scss';
@import '../../style/placeholder.scss';
@import '../../style/keyframes.scss';

%motion {
  @media (prefers-reduced-motion: no-preference) {
    animation-duration: 180ms;
    animation-timing-function: ease-in-out;
    will-change: opacity;
  }
}
$prefix: $ui-prefix + -popover;

.#{$prefix} {
  @extend %motion;
  transform-origin: var(--radix-popover-content-transform-origin);
  &[data-state='open'] {
    animation-name: zoomIn;
  }
  &[data-state='closed'] {
    animation-name: zoomOut;
  }
  position: relative;
  outline: none;

  $offset: var(--custom-side-offset);
  $content-pd: calc(100% - $offset) !important;
  $arrow-h: 5px;

  &[data-side='top'] {
    padding-bottom: $offset;
    .#{$prefix}-content + span {
      top: $content-pd;
    }
    &[data-arrow='true'] {
      margin-bottom: -$arrow-h;
    }
  }

  &[data-side='right'] {
    padding-left: $offset;
    .#{$prefix}-content + span {
      right: $content-pd;
    }
    &[data-arrow='true'] {
      margin-left: -$arrow-h;
    }
  }
  &[data-side='bottom'] {
    padding-top: $offset;
    .#{$prefix}-content + span {
      bottom: $content-pd;
    }
    &[data-arrow='true'] {
      margin-top: -$arrow-h;
    }
  }
  &[data-side='left'] {
    padding-right: 10px;
    .#{$prefix}-content + span {
      right: $content-pd;
    }
    &[data-arrow='true'] {
      margin-right: -$arrow-h;
    }
  }

  &-content {
    background-color: #fff;
    border-radius: $base-radius;
    word-wrap: break-word;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  }

  &-arrow {
    fill: #fff;
  }
}
