@import '../../style/variable.scss';
@import '../../style/placeholder.scss';
@import '../../style/keyframes.scss';

%motion {
  @media (prefers-reduced-motion: no-preference) {
    animation-duration: 180ms;
    animation-timing-function: ease-in-out;
    will-change: opacity;
  }
}
$prefix: $ui-prefix + -popover;

.#{$prefix} {
  @extend %motion;
  transform-origin: var(--radix-popover-content-transform-origin);
  &[data-state='open'] {
    animation-name: zoomIn;
  }
  &[data-state='closed'] {
    animation-name: zoomOut;
  }
  position: relative;
  outline: none;

  // TODO: 动态设置
  &[data-side='top'] {
    padding-bottom: 10px;

    .#{$prefix}-content + span {
      top: calc(100% - 10px) !important;
    }
  }
  &[data-side='right'] {
    padding-left: 10px;
    .#{$prefix}-content + span {
      right: calc(100% - 10px) !important;
    }
  }
  &[data-side='bottom'] {
    padding-top: 10px;
    .#{$prefix}-content + span {
      bottom: calc(100% - 10px) !important;
    }
  }
  &[data-side='left'] {
    padding-right: 10px;
    .#{$prefix}-content + span {
      right: calc(100% - 10px) !important;
    }
  }

  &-content {
    padding: 6px 8px;
    background-color: #fff;
    border-radius: $base-radius;
    word-wrap: break-word;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  }

  &-arrow {
    fill: #fff;
  }
}
